Repository clickyab/crab, changes with the owners that CODEOWNERS names for each.
All owners: @fzerorubigd, @slifer2015, @okian, @Mehrdad-Dadkhah, @ehsandevop

CODEOWNERS:

# TODO : talk about each part and everyone must accept one part
*           @fzerorubigd

# User module is the user system and anything related to that
modules/misc/           @fzerorubigd  @slifer2015 @okian
modules/user/           @fzerorubigd  @Mehrdad-Dadkhah
modules/domain/         @fzerorubigd  @Mehrdad-Dadkhah
modules/ad/             @fzerorubigd  @okian
modules/campaign/       @fzerorubigd  @slifer2015
modules/upload/         @fzerorubigd  @okian @slifer2015
modules/asset/          @fzerorubigd  @ehsandevop
modules/time/           @fzerorubigd  @ehsandevop
modules/location/       @fzerorubigd  @ehsandevop @Mehrdad-Dadkhah
modules/asset/          @fzerorubigd  @ehsandevop @Mehrdad-Dadkhah
modules/notifications/  @fzerorubigd  @okian


*.mk        @fzerorubigd
Makefile    @fzerorubigd
Jenkinsfile @fzerorubigd

*.sql       @fzerorubigd
scripts/    @fzerorubigd
bin/        @fzerorubigd

vendor/     @fzerorubigd @okian @slifer2015
CODEOWNERS  @fzerorubigd

fix user module route and model based on new db migrations
  modules/campaign/orm/model.go
  modules/domain/dmn/doc.go
  modules/user/aaa/parent_user.go
  modules/user/aaa/user.go
  modules/user/controllers/user.go
  modules/user/controllers/verify_email.go
Owners: @fzerorubigd, @slifer2015, @Mehrdad-Dadkhah

codegen stuff
  modules/domain/dmn/dmn.gen.go
  modules/domain/dmn/doc.gen.go
  modules/domain/dmn/pkg_enums.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/08175acbc0f8050a4920ef9f6f457c815fed16c3
  modules/misc/controllers/swagger/0993a4c1236078df3801e651a1df8771fa16d3a2
  modules/misc/controllers/swagger/0cb4bd529760dbb3183017eb0ef0cce6e42dfdbf
  modules/misc/controllers/swagger/2cb525dbe23b945053bfda99293872714a2aa39d
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/d3df0f0e2203f1e4a88610d65a9cd976ca12fda4
  modules/misc/controllers/swagger/index.json
  modules/user/aaa/aaa.gen.go
  modules/user/aaa/parent_user.gen.go
  modules/user/aaa/parent_user.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah, @slifer2015, @okian

store user data
  modules/user/controllers/store.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah

codegen stuff
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/192632ed3ad4757b14475d79f76b67567f41be35
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/81c617ef1932a06e426689a8caa90863f41c61d4
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/index.json
  modules/user/controllers/user.gen.go
  modules/user/controllers/user_controllers.gen.go
Owners: @fzerorubigd, @slifer2015, @okian, @Mehrdad-Dadkhah

fix user module route and model based on new db migrations
  modules/campaign/orm/model.go
  modules/domain/dmn/doc.go
  modules/user/aaa/parent_user.go
  modules/user/aaa/user.go
  modules/user/controllers/user.go
  modules/user/controllers/verify_email.go
Owners: @fzerorubigd, @slifer2015, @Mehrdad-Dadkhah

store user data
  modules/user/controllers/store.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah

codegen stuff
  modules/domain/dmn/dmn.gen.go
  modules/domain/dmn/doc.gen.go
  modules/domain/dmn/pkg_enums.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/08175acbc0f8050a4920ef9f6f457c815fed16c3
  modules/misc/controllers/swagger/0993a4c1236078df3801e651a1df8771fa16d3a2
  modules/misc/controllers/swagger/0cb4bd529760dbb3183017eb0ef0cce6e42dfdbf
  modules/misc/controllers/swagger/2cb525dbe23b945053bfda99293872714a2aa39d
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/d3df0f0e2203f1e4a88610d65a9cd976ca12fda4
  modules/misc/controllers/swagger/index.json
  modules/user/aaa/aaa.gen.go
  modules/user/aaa/parent_user.gen.go
  modules/user/aaa/parent_user.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah, @slifer2015, @okian

codegen stuff
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/192632ed3ad4757b14475d79f76b67567f41be35
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/81c617ef1932a06e426689a8caa90863f41c61d4
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/index.json
  modules/user/controllers/user.gen.go
  modules/user/controllers/user_controllers.gen.go
Owners: @fzerorubigd, @slifer2015, @okian, @Mehrdad-Dadkhah

refactor campaign routes and fix some related validation
  modules/campaign/controllers/attributes.go
  modules/campaign/controllers/budget.go
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/campaign.go
  modules/campaign/controllers/changestat.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/campaign/controllers/copy.go
  modules/campaign/controllers/getad.go
  modules/campaign/controllers/native.go
  modules/campaign/controllers/validators.gen.go
  modules/campaign/controllers/wblist.go
Owners: @fzerorubigd, @slifer2015

refactor campaign routes and fix some related validation
  modules/campaign/controllers/attributes.go
  modules/campaign/controllers/budget.go
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/campaign.go
  modules/campaign/controllers/changestat.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/campaign/controllers/copy.go
  modules/campaign/controllers/getad.go
  modules/campaign/controllers/native.go
  modules/campaign/controllers/validators.gen.go
  modules/campaign/controllers/wblist.go
Owners: @fzerorubigd, @slifer2015

fix flow for uploading video
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/upload/controllers/flow.go
  modules/upload/controllers/upload.go
Owners: @fzerorubigd, @slifer2015, @okian

fix domain migration
  modules/domain/migrations/db/20180407053606_fix.sql
  modules/domain/migrations/migration.gen.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah

fix domain migration
  modules/domain/migrations/db/20180407053606_fix.sql
  modules/domain/migrations/migration.gen.go
Owners: @fzerorubigd, @Mehrdad-Dadkhah

fix flow for uploading video
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/upload/controllers/flow.go
  modules/upload/controllers/upload.go
Owners: @fzerorubigd, @slifer2015, @okian

fix budget api base on new db structure fix #4997
  Makefile
  modules/asset/errors/errors.go
  modules/campaign/controllers/budget.go
  modules/campaign/controllers/campaign.go
  modules/campaign/controllers/validators.gen.go
  modules/campaign/controllers/wblist.go
  modules/campaign/errors/errors.go
  modules/campaign/migrations/db/20180325065941_campaigns.sql
  modules/campaign/migrations/db/20180326061249_perm.sql
  modules/campaign/migrations/db/20180404125701_add_tld_field.sql
  modules/campaign/migrations/db/20180404130855_alter_exchange_enum.sql
  modules/campaign/migrations/db/20180406191652_campaign_report_receivers.sql
  modules/campaign/migrations/migration.gen.go
  modules/campaign/orm/campaign.go
  modules/campaign/orm/campaign_funcs.go
  modules/campaign/orm/campaign_model.gen.go
  modules/campaign/orm/campaign_model.go
  modules/campaign/orm/cfg.go
  modules/campaign/orm/finance.go
  modules/campaign/orm/orm.gen.go
  modules/campaign/orm/pkg_enums.gen.go
  modules/campaign/orm/report_receivers.gen.go
  modules/campaign/orm/report_receivers.go
  modules/campaign/orm/wblist.go
  modules/domain/middleware/domain/access.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/47c05dcaf3d1880c91eb6c7af28091cb26b47319
  modules/misc/controllers/swagger/9e3f0c5ce707adfcd8dc73348cdb8bf13052ea38
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/cfaffbbcea3a9904498c787415cd16fde2af5c6c
  modules/misc/controllers/swagger/index.json
  modules/user/controllers/login.go
  modules/user/errors/errors.go
Owners: @fzerorubigd, @ehsandevop, @Mehrdad-Dadkhah, @slifer2015, @okian

fix budget api base on new db structure fix #4997
  Makefile
  modules/asset/errors/errors.go
  modules/campaign/controllers/budget.go
  modules/campaign/controllers/campaign.go
  modules/campaign/controllers/validators.gen.go
  modules/campaign/controllers/wblist.go
  modules/campaign/errors/errors.go
  modules/campaign/migrations/db/20180325065941_campaigns.sql
  modules/campaign/migrations/db/20180326061249_perm.sql
  modules/campaign/migrations/db/20180404125701_add_tld_field.sql
  modules/campaign/migrations/db/20180404130855_alter_exchange_enum.sql
  modules/campaign/migrations/db/20180406191652_campaign_report_receivers.sql
  modules/campaign/migrations/migration.gen.go
  modules/campaign/orm/campaign.go
  modules/campaign/orm/campaign_funcs.go
  modules/campaign/orm/campaign_model.gen.go
  modules/campaign/orm/campaign_model.go
  modules/campaign/orm/cfg.go
  modules/campaign/orm/finance.go
  modules/campaign/orm/orm.gen.go
  modules/campaign/orm/pkg_enums.gen.go
  modules/campaign/orm/report_receivers.gen.go
  modules/campaign/orm/report_receivers.go
  modules/campaign/orm/wblist.go
  modules/domain/middleware/domain/access.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/47c05dcaf3d1880c91eb6c7af28091cb26b47319
  modules/misc/controllers/swagger/9e3f0c5ce707adfcd8dc73348cdb8bf13052ea38
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/cfaffbbcea3a9904498c787415cd16fde2af5c6c
  modules/misc/controllers/swagger/index.json
  modules/user/controllers/login.go
  modules/user/errors/errors.go
Owners: @fzerorubigd, @ehsandevop, @Mehrdad-Dadkhah, @slifer2015, @okian

add user notify id + email when get campaign
  modules/campaign/orm/campaign_funcs.go
  modules/campaign/orm/campaign_model.go
  modules/campaign/orm/report_receivers.go
Owners: @fzerorubigd, @slifer2015

codegen
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/c94751240617ac2b1c2749b2f1b322315c84f62c
  modules/misc/controllers/swagger/index.json
Owners: @fzerorubigd, @slifer2015, @okian

add user notify id + email when get campaign
  modules/campaign/orm/campaign_funcs.go
  modules/campaign/orm/campaign_model.go
  modules/campaign/orm/report_receivers.go
Owners: @fzerorubigd, @slifer2015

codegen
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
  modules/misc/controllers/swagger/c94751240617ac2b1c2749b2f1b322315c84f62c
  modules/misc/controllers/swagger/index.json
Owners: @fzerorubigd, @slifer2015, @okian

hot fix in campaign and asset module
  modules/asset/controllers/manufacturer.go
  modules/asset/orm/browser.go
  modules/campaign/controllers/campaign.go
  modules/campaign/orm/campaign_model.go
Owners: @fzerorubigd, @ehsandevop, @Mehrdad-Dadkhah, @slifer2015

gen stuff
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/1bd5a9c6dd9c12c4f60e1e05bed24050fd223d64
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
Owners: @fzerorubigd, @slifer2015, @okian

add github linguist
  .gitattributes
Owners: @fzerorubigd

hot fix in campaign and asset module
  modules/asset/controllers/manufacturer.go
  modules/asset/orm/browser.go
  modules/campaign/controllers/campaign.go
  modules/campaign/orm/campaign_model.go
Owners: @fzerorubigd, @ehsandevop, @Mehrdad-Dadkhah, @slifer2015

gen stuff
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/1bd5a9c6dd9c12c4f60e1e05bed24050fd223d64
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/a8128ef3f14b0c890bbad6f2ee405ba0b5d9767b
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
Owners: @fzerorubigd, @slifer2015, @okian

fix perm
  modules/campaign/controllers/campaign.go
Owners: @fzerorubigd, @slifer2015

codegen stuff
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
Owners: @fzerorubigd, @slifer2015, @okian

add swagger to ignore list
  .gitattributes
Owners: @fzerorubigd

codegen stuff
  modules/campaign/controllers/campaign.gen.go
  modules/campaign/controllers/controllers_controllers.gen.go
  modules/misc/controllers/swagger.gen.go
  modules/misc/controllers/swagger/00cefeafa08e5b04251da79676c41549afc6fef6
  modules/misc/controllers/swagger/2e9ac06e3d798b61b51c37ba8d46f7d27d326c4a
  modules/misc/controllers/swagger/320e220135ea81a83779733960f26b146f946195
  modules/misc/controllers/swagger/b016354ef3390a55fa9cb4219936b998bde655e0
Owners: @fzerorubigd, @slifer2015, @okian

fix perm
  modules/campaign/controllers/campaign.go
Owners: @fzerorubigd, @slifer2015
